/* 
  TODO: ADD absolute images to page 1  
  TODO: ADD absolute images to page 2  
  TODO: ADD BACKGROUND IMAGE FOR IMAGINE A PLACE SECTION 
  TODO: change favico of discord to one with correct shade and make title text change on page change
  TODO: change footer links font size to correct size
  TODO: implement AOS animations
  TODO: make pages actually responsive
  TODO: make nav transparent so background color is easier to set
*/


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}


:root {
  --brand: #5865f2;
  --not-black: #2c2f33;
  --not-quite-black: #23272a;
  --off-white: #f6f6f6;
}

.App {
  background-color: #404eed;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.no-cursor {
  cursor: not-allowed;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 40px 80px;
}

/* 

NAV

*/

.nav-logo {
  height: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

.nav__link {
  color: white;
  font-weight: 700;
  margin-right: 28px;
}

.nav__link:last-child {
  margin-right: 0px;
}

.nav__link:hover {
  text-decoration: underline;
}

.btn--login {
  color: var(--not-black);
  background-color: white;
  border-radius: 20px;
  font-size:12px;
  font-weight: 700;
  padding: 10px 15px;
  transition: 300ms ease all;
}

.btn--login:hover {
  color: var(--brand);
  box-shadow: 0 8px 15px rgba(0,0,0,.2)
}

/* 

Download section

*/

.download--wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 140px;
}

.download__title {
  margin-top: 80px;
  margin-bottom: 40px;
  color: white;
  font-size: 56px;
}

.download__para {
  color: white;
  max-width: 630px;
  text-align: center;
  margin-bottom: 32px;
}

.btn__generic {
  padding: 12px 16px;
  border-radius: 30px;
  margin-right: 16px;
  transition: 300ms ease all;
}

.btn--white {
  background-color: white;
  color: black;
}

.btn--black {
  background-color: var(--not-black);
  color: white;
}

.btn__generic:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.btn--black:hover {
  background-color: #36393f;
}

.btn--white:hover {
  color: var(--brand);
}

.btn--download {
  display: flex;
  align-items: center;
}

.btn--wrapper {
  display: flex;
  align-items: center;
}

.download__btn-title {
  padding-left: 4px;
}


/* 

InfoGeneral 

*/

.InfoGeneral--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.InfoGeneral--study,
.InfoGeneral--coach {
  flex-direction: row-reverse;
}

.InfoGeneral--hangingOut {
  flex-direction: row;
}

.InfoGeneral__info--wrapper {
  display: flex;
  flex-direction: column;
}

.InfoGeneral__img{
  width: 50%;
}

.InfoGeneral__title {
  color: var(--not-black);
  padding-bottom: 16px;
  max-width: 220px;
  text-align: center;
  
}

.InfoGeneral__para {
  font-size: 0.9rem;
  color: var(--not-black);
  max-width: 220px;
  text-align: center;
}

/* 

Reliable Tech

*/

.reliable-tech__container {
  background-color: #f6f6f6;
  padding: 80px 80px;
}

.reliable-tech--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reliable-tech__title {
  color: var(--not-black);
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 32px;
  text-align: center;
}

.reliable-tech__para {
  color: var(--not-black);
  font-size: 0.9rem;
  max-width: 700px;
  text-align: center;
}

.reliable-tech__sub-title {
  padding: 40px 0;
}

.btn--purple {
  background-color: var(--brand);
  color: white;
  margin-right: 0;
}


/* 

Footer

*/
.footer--row {
  max-width: 1000px;
}


.container--Footer {
  background-color: #23272a;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
}

.footer__right-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.footer__list {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4);
}

.footer-logo {
  height: 30px;
}

.footer__lower {
  display: flex;justify-content: space-between;
}

.left-side__title {
  max-width: 200px;
  color: var(--brand);
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 0.8;
  padding-bottom: 16px;
  margin-right: 60px;
}

.footer__list-title {
  color: var(--brand);
  font-size: 16px;
  padding-bottom: 12px;
}

.list__link {
  color: white;
  font-size: 16px;
  line-height: 30px; /* changes spacing between links */
}

.list__link:hover {
  text-decoration: underline;
}

.footer__list {
  padding-right: 80px;
}

.footer__list:last-child {
  padding-right: 0px;
}

.footer__upper {
  padding-bottom: 32px;
  border-bottom: 1px solid var(--brand);
}

.footer__lower {
  padding-top: 32px;
}

.btn__signup--purple {
  background-color: var(--brand);
  color: white;
  border-radius: 20px;
  font-size:12px;
  font-weight: 700;
  padding: 10px 15px;
  transition: 300ms ease all;
}

.btn__signup--purple:hover {
  background-color: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%);
}

.footer__social--list {
  margin-top:30px;
}

.footer__social {
  font-size: 1.3em;
  color: white;
  padding: 0 8px;
}

/* 

Device

*/

.device--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--off-white);
  padding: 56px;
  border-radius: 16px;
  overflow: hidden;
  height: 600px;
  width: 100%;
}

.device__title {
  color: var(--not-quite-black);
  line-height: 0.9;
  font-weight: 600;
  letter-spacing: 1px;
}

.device__img {
  margin-top: 64px;
}

.device__btn {
  background-color: var(--not-quite-black);
  color: white;
  border-radius: 28px;
  padding: 16px 32px;
  font-size: 20px;
  transition: 300ms;
  margin-top: 16px;
}

.device__btn:hover {
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
  background-color: #36393f;
}

/* 

Linux button

*/

.linux-dropdown {
  position: relative;
}

.btn--with-arrow {
  display: flex;
  align-items: center;
  gap: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.linux-dropdown__list {
  position: absolute;
  display: none;
  flex-direction: column;

  background-color: white;
  padding: 16px;
  border-radius: 16px;
  margin-top: 8px;
  transition: 200ms ease;
}

.linux-dropdown__list.active {
  display: flex;
}

.linux__link {
  color: var(--not-quite-black);
  padding: 4px 8px;
  padding-right: 90px;
  line-height: 1.625;
  font-size: 20px;
}

.linux__link:hover {
  background-color: var(--off-white);
  border-radius: 4px;
  text-decoration: underline;
  color: var(--brand);
}


/* 

Feeling Experimental?

*/

.experimental--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--off-white);
  padding: 56px;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

.experimental__title {
  text-align: center;
  color: var(--not-quite-black);
  line-height: 0.9;
  font-weight: 600;
  letter-spacing: 1px;
}

.experimental__para {
  line-height: 1.625;
  font-size: 20px;
  color: var(--not-quite-black);
  margin: 16px 0;
  text-align: center;
}

.experimental-dropdown__list {
  position: absolute;
  display: none;
  flex-direction: column;

  background-color: white;
  padding: 16px;
  border-radius: 16px;
  margin-top: 8px;
  
  transition: 200ms ease;
}

.experimental-dropdown__list.active {
  display: flex;
}

.experimental__link {
  color: var(--not-quite-black);
  padding: 4px 8px;
  padding-right: 180px;
  line-height: 1.625;
  font-size: 20px;
}

.experimental__link:hover {
  background-color: var(--off-white);
  border-radius: 4px;
  text-decoration: underline;
  color: var(--brand);
}


/* 

All Devices wrapper

*/

.devices__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 130px auto 130px;
  gap: 20px;
}

/* ios */
.device__grid-1 {
  grid-row: 1 / span 2;  
}

/* android */
.device__grid-2 {
  grid-column-start: 2 ;
  grid-row: 2 / span 2;
}

/* mac */
.device__grid-3 {
  grid-column-start: 2;
  grid-row: 4 / span 2;
  
}

/* linux */
.device__grid-4 {
  grid-column-start: 1;
  grid-row: 3 / span 2;
}

/* experimental */
.device__grid-5 {
  grid-column-start: 1;
  grid-row-start: 5 / span 2;
}



@media (max-width: 768px) {
  .InfoGeneral--wrapper {
    flex-direction: column;
    gap: 8px;
  }
  .InfoGeneral__img {
    width: 100%;
  }
  .InfoGeneral__title {
    max-width: none;
  }

  .InfoGeneral__para {
    max-width: none;
  }

  .footer__list {
    width: calc(100% / 2);
    padding-right: 0px;
  }

  .footer__list-title {
    margin-top: 8px;
  }
}